<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Spam Detector">
  <meta name="author" content="Iliya Mohamad Lokman">

  <title>Spam Detector</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/icons/favicon.ico">

  <!-- Manifest -->
  <link rel="manifest" href="/manifest.json">

  <!-- Meta -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="SpamDetector">
  <meta name="apple-mobile-web-app-title" content="SpamDetector">
  <meta name="theme-color" content="#343a40">
  <meta name="msapplication-navbutton-color" content="#343a40">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">

  <!-- Icons -->
  <link rel="icon" type="image/png" sizes="36x36" href="/img/icons/android-icon-36x36.png">
  <link rel="apple-touch-icon" type="image/png" sizes="36x36" href="/img/icons/android-icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/img/icons/android-icon-48x48.png">
  <link rel="apple-touch-icon" type="image/png" sizes="48x48" href="/img/icons/android-icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="/img/icons/android-icon-72x72.png">
  <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/img/icons/android-icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/android-icon-96x96.png">
  <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="/img/icons/android-icon-96x96.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/img/icons/android-icon-144x144.png">
  <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/img/icons/android-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-icon-192x192.png">
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/img/icons/android-icon-192x192.png">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Spam Detector</a>
    </div>
  </nav>

  <main role="main" class="container">
    {{> _result}} {{{ body }}}
  </main>


  <script>
    // Service Worker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        navigator.serviceWorker.register('/sw.js').then(function (registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function (err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
</body>

</html>